registry=https://registry.npmjs.org/
public-hoist-pattern[]=lefthook
public-hoist-pattern[]=eslint
public-hoist-pattern[]=prettier
public-hoist-pattern[]=czg

shell-emulator=true
auto-install-peers=false
strict-peer-dependencies=true
dedupe-peer-dependents=true
