registry = "https://registry.npmmirror.com"
public-hoist-pattern[]=lefthook
public-hoist-pattern[]=eslint
public-hoist-pattern[]=prettier
public-hoist-pattern[]=czg

shell-emulator=true
auto-install-peers=true
strict-peer-dependencies=false
dedupe-peer-dependents=true